# General
*.log
*.zip
*.pyc
__pycache__/
.crawler/
.DS_Store

# IDEs
.vscode/
.idea/

# Open-Air Data (Vaults)
oaData*/
oaDataAudits/
oaDataLogs/
oaDataCache/
oaDataLogs/SNMP/
oaDataSplinks/
oaDataRunningFiles/

# Python
dist/
build/
*.egg-info/
venv/
.venv/
env/
.pytest_cache/

# Rust / Compiled Libraries
target/
*.so
*.dylib
*.dll
*.pyd
.env
