numpy
pandas
matplotlib
Pillow
pdfplumber
beautifulsoup4
pyvisa
pyusb
python-usbtmc
python-vxi11
pyserial
psutil
zeroconf
scapy
paho-mqtt
aiomqtt
orjson
flameprof
loguru
python-osc
mido
python-rtmidi
textual
fastapi
uvicorn
protobuf
grpcio-tools
websocket-client
