[Desktop Entry]
Version=1.0
Name=OPEN-AIR
Comment=OPEN-AIR Digital Audio Workstation
Exec=/home/anthony/Documents/OPEN-AIR/openair.py
Icon=/home/anthony/Documents/OPEN-AIR/oaGuiElements/Assets/OPEN_AIR_LOGO.png
Terminal=false
Type=Application
Categories=AudioVideo;Audio;
StartupNotify=true
StartupWMClass=OPEN-AIR
